{
 :source-dir  "dev/app/styles"
 :var          app.styles.main/screen
 :output-file "resources/public/css/app.css"
 :flags       {:pretty-print? true
               :vendors       ["webkit" "moz" "o"]}
 }
