*.class
*.iml
*.jar
.DS_Store
.hg/
.hgignore
.specljs-timestamp
/.idea
/.lein-*
/.nrepl-port
/checkouts
/classes
/resources/public/cljs
/resources/public/css/app.css
/target
/tmp
pom.xml
pom.xml.asc
profiles.clj
/resources/public/js/main.js
/resources/public/js/compiled
